{include file='public/header'title=$title/}
    <link rel="stylesheet" href="__CSS_PATH__xwzx.css">

    <link rel="stylesheet" href="__CSS_PATH__com(2).css">

<style>
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .beijing {
        padding: 0 100px;
        box-sizing: border-box;
    }
    
    .wenben {
        width: 100%;
        padding-bottom: 100px;
    }
    
    .wenben-1 {
        width: 100%;
        clear: both;
    }
    
    .xiuche {
        font-size: 32px;
        color: #000000;
        text-align: center;
        margin-bottom: 50px;
    }
    
    @media screen and (max-width:768px) {
        .xiuche {
            transition: 1s;
            font-size: 20px;
        }
        .beijing {
            padding: 0 20px;
            box-sizing: border-box;
        }
        .dianji>.right {
            display: block;
            float: left;
        }
    }
    
    .riqi {
        /* background-color: rgb(159, 43, 226); */
        margin-bottom: 65px;
        font-size: 14px;
        color: #000000;
        text-align: center;
        overflow: hidden;
    }
    
    .qiche {
        /* width: 964px; */
        /* background-color: rgb(214, 226, 43); */
        font-size: 14px;
        margin-bottom: 36px;
    }
    
    .baochi {
        /* width: 964px; */
        /* background-color: rgb(43, 226, 150); */
        font-size: 14px;
        margin-bottom: 36px;
    }
    
    .dianji {
        /* width: 964px; */
        height: 32px;
        /* background-color: blue; */
        margin: 45px 0;
    }
    
    .dianji>.left>a {
        color: red;
    }
    
    .dianji>.right>a {
        color: red;
    }
    
    .left {
        /* width: 482px; */
        height: 32px;
        /* background-color: blueviolet; */
        float: left;
        font-size: 14px;
        line-height: 32px;
    }
    
    .right {
        /* width: 482px; */
        height: 32px;
        /* background-color: blueviolet; */
        float: right;
        font-size: 14px;
        line-height: 32px;
        text-align: right;
    }
    
    .return {
        width: 138px;
        height: 62px;
        background-color: white;
        margin: 88px auto 0;
        font-size: 24px;
        color: #070202;
        line-height: 62px;
        text-align: center;
        border: solid 1px #2A2A2A;
        /* padding: 13px 19px; */
    }
    
    .return:hover {
        background-color: #2A2A2A;
    }
    
    .return a {
        color: #0f0000;
        /* text-decoration: none; */
        /* transition: 0.5s; */
    }
    
    .return a:hover {
        color: white;
    }
    
    .return a:link {
        text-decoration: none;
    }
    
    .dianji a:link {
        text-decoration: none;
    }
</style>




    <!-- 头部结束 -->
    <!-- 背景 -->
    <div class="container">
        <div class="row">
            <div class="beijing">
                <div class="beijing-2">
                    <!-- 图片 -->
                    <div class="tupian">
                        <!--<img src="__IMG_PATH__news/banner2.jpg" alt="src">-->
                    </div>
                    <!-- 养护知识开始 -->
                    <div class="fg col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class=" fg-left "></div>
                        <div class="flow  ">
                            <div class="top ">新闻详情</div>
                            <div class="down">News</div>


                        </div>
                        <div class=" fg-right "></div>
                    </div>
                    <!-- 养护知识结束 -->
                    <!-- 内容开始 -->
                    <div class="wenben col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="wenben-1">
                            <div class="xiuche">{$oo['nname']}</div>
                            <div class="riqi">发布日期: {$oo['ndata']}</div>
                            <div class="qiche">
                                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{$oo['ntext']}</span>
                            </div>
                            <div class="dianji">
                                <div class="right"><a >上一篇&nbsp{$prevstr}</a></div>
                                <div class="left"><a >上一篇&nbsp{$netxet}</a></div>

                            </div>
                            <!-- 返回按钮 -->
                            <div class="return"><a href="/wehome1/public/index.php/index/category/index?cid=71">返回列表</div>
                    <!-- 返回按钮结束 -->
                </div>
            </div>
            <div class="kong">

            </div>
            <div class="tupian-2">
                <div class="tpbj">
                    <img style="width: 1000px;height: 250px;" src="__IMG_PATH__fc/11.jpg" alt="src">
                </div>
            </div>
            <!-- 内容结束 -->

            <!-- 背景结束 -->
        </div>
    </div>
</div>
</div>
<!-- 、、、、、、、、、、、、、、、底部、、、、、、、、、、、、、 -->
<div class="content" style="height: 300px;"></div>
<!-- 底部开始 -->
{include file='public/foot' title=$title /}
                        <!-- 版权结束 -->
