

{include file='public/header'title=$title /}
    <link rel="stylesheet" href="__CSS_PATH__product.css">



    <!-- 头部结束 -->

    <!-- 广告图开始 -->
    <section>
        <div class="zhegai"></div>
    </section>
    <!-- 广告图结束 -->
    <!-- 主体内容开始 -->
    <div class="container">
        <div class="row">
            <div class="xiangqing">
                <div class="title">
                    <h1>{$oo['gname']}</h1>
                </div>
                <div class="zhanshi">
                    <div class="banner-container">
                        <div class="banner">
                            {volist name="sub" id="v"}
                            <ul>

                                <li class="img">
                                    <img src="{$v}" alt="">
                                </li>

                            </ul>
                            {/volist}
                            <div class="btn left"></div>
                            <div class="btn right"></div>
                            <div class="banner-dot">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                        </div>
                    </div>
                    <div class="money">
                        <div class="MarketPrice">
                            <span>市场价：￥{$oo['mprice']}</span>
                        </div>
                        <div class="RetailPrice">
                            <span>零售价：</span>
                            <span>
                                <strong>￥{$oo['sale']}</strong>
                            </span>
                        </div>
                        <hr>
                        <div class="stock">
                            <span>库存状况：{$oo['stock']}</span>
                        </div>
                    </div>
                </div>
                <div class="jieshao" class="col-sm-12 col-xs-12">
                    <div class="shop-title">
                        <span>商品介绍</span>
                    </div>
                    <div class="shop-xiangqing">
                        <p>{$oo['detail']}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 主体内容结束 -->

    <!-- 底部开始 -->
    {include file='public/foot'title=$title /}
<script src="__JS_PATH__product.js"></script>